.about-me {
    width: 75%;
    margin: 0 auto;
    padding: 180px 0;
}

.about-me h2 {
    font-family: sans-serif;
    font-size: 2.5rem;
    color: #fff;
}

.about-me .span {
    color: #800000;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 1px 2px 2px #fff;
}

.about-me p {
    font-size: 1.5rem;
    color: #fff;
    margin: 50px 50px;
    text-align: justify;
}