.about-me {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.about-me h2 {
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-semi-bold);
    font-family: var(--font-sub-heading);
    color: var(--text-color-base);
    padding-bottom: 2rem;
}

.about-me h2 span {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bolder);
    color: var(--text-color-span);
}


.about-me p {
    text-align: justify;
    font-size: var(--font-size-lg);
    font-family: var(--font-sub-heading);
    font-weight: var(--font-weight-normal);
    color: var(--text-color-base);
    line-height: var(--line-height-hero);
    margin: 0 1.5rem;
}