.connect {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: var(--font-size-sm);
    font-family: var(--font-sub-heading);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-base);
}

.connect .span {
    font-size: var(--font-size-xlg);
    color: var(--text-color-span);
    font-weight: var(--font-weight-bolder);
    text-transform: uppercase;
} 

.image-container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.image-container ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container ul li {
    list-style: none;
    display: inline-block;
}

.image-container ul li a img {
    max-width: 200px;
    width: 90%;
    padding: 2rem 2rem;
    margin: 5rem 2.5rem;
    position: relative;
    object-fit: cover;
    animation: zoomInOut 4s ease-in-out infinite;
    transform: scale(1);
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}