.connect {
    width: 75%;
    margin: 0 auto;
    padding: 180px 0;
}

.connect h2 {
    font-family: sans-serif;
    font-size: 2.5rem;
    margin-left: 50px;
    color: #fff;
}

.connect .span {
    color: #800000;
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 1px 2px 2px #fff;
}

.connect nav {
    display:  block;
    margin-top: 120px;
}

.connect nav ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.connect nav ul li {
    width: fit-content;
    display: inline-block;
    list-style: none;
    margin: 50px 50px;
}

.connect nav ul li a img {
    width: 200px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

.connect nav ul li:hover a img {
    transform: scale(1.2);
}