.profile {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20rem;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semi-bold);
    color: var(--text-color-base);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-hero-base);
    font-family: var(--font-heading);
}

.profile-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2rem;
}

.profile-content span {
    color: var(--text-color-span);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-sub-heading);
}