.projects {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.projects h2 {
    font-size: var(--font-size-xlg);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-semi-bold);
    color: var(--text-color-base);
    margin-bottom: 1.5rem;
}

.projects h2 .span {
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-span);
}

.prodigy-projects ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.prodigy-projects ul li {
    list-style: none;
    color: var(--text-color-base);
    font-size: var(--font-size-lg);
    font-family: var(--font-sub-heading);
    line-height: var(--line-height-hero-base);
    margin-left: 2rem;
}