/* LG - Small Laptops: 1024 - 1280 */

@media (max-width: 1181px) {

    .header-text {
        font-size: var(--font-size-lg);
    }

    .header-text span {
        font-size: var(--font-size-xlg);
    }

    .header-text .btn {
        width: 130px;
        padding: 0.4rem;
    }

    /* About Pages */
    .about-me h2 {
        font-size: var(--font-size-xlg);
    }

    .about-me p {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-base);
    }
}

/* MD - Tablets: 768 - 1024 */

@media (max-width: 965px) {

    .header-text {
        font-size: var(--font-size-sm);
        letter-spacing: 0;
    }

    .header-text span {
        font-size: var(--font-size-lg);
    }

    .header-text .btn {
        width: 110px;
        padding: 0.4rem;
        font-size: var(--font-size-xs);
        box-shadow: 0 7px var(--bg-color-box-shadow);
    }

    .main-content .introduction {
        margin-top: 4rem;
    }

    .introduction p {
        font-size: var(--font-size-xs);
    }

    .introduction img {
        max-width: 550px;
    }

    .tech-stacks {
        font-size: var(--font-size-xlg);
    }

    .tech-stacks .img-tech {
        width: 90%;
        margin: 4rem auto 10rem;
        padding: 4rem 2rem;
    }

    .img-tech img {
        max-width: 130px;
        width: 90%;
        margin: 2rem 3rem;
    }

    .footer {
        padding: 1rem;
    }

    .footer img {
        max-width: 100px;
    }

    /* Connect Pages */
    .image-container ul li a img {
        max-width: 170px;
    }

    /* Projects Pages */
    .projects h2 {
        font-size: var(--font-size-lg);
    }

    .projects h2 .span {
        font-size: var(--font-size-xlg);
    }
}

/* MD - Tablets: 768 - 1024 */

@media (max-width: 837px) {

    .header-info {
        height: auto;
    }

    .header-text {
        font-size: var(--font-size-xs);
        letter-spacing: 0;
    }

    .header-text span {
        font-size: var(--font-size-sm);
    }

    .header-text .btn {
        width: 95px;
        padding: 0.3rem;
        font-size: var(--font-size-xs);
        box-shadow: 0 6px var(--bg-color-box-shadow);
    }

    .main-content .introduction {
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    .introduction p {
        margin: 6rem 2.5rem;
    }

    .introduction img {
        max-width: 450px;
    }

    .tech-stacks {
        font-size: var(--font-size-lg);
    }

    .tech-stacks .img-tech {
        padding: 3rem 2rem;
    }

    .img-tech img {
        max-width: 100px;
    }

    /* Connect Pages */
    .image-container ul li a img {
        max-width: 140px;
    }

    /* About Pages */
    .about-me h2 {
        font-size: var(--font-size-lg);
        margin-left: 0.5rem;
    }

    .about-me h2 span {
        font-size: var(--font-size-xlg);
    }

    /* Profile Pages */
    .profile-content img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 2rem;
    }

    .profile-content span {
        font-size: var(--font-size-sm);
    }
}

/* SM - Phone Landscape: 576 - 768 */ 

@media (max-width: 735px) {

    .header-text {
        font-size: var(--font-size-xs);
    }

    .header-text span {
        font-size: var(--font-size-xs);
    }

    .header-img img {
        max-width: 800px;
    }

    .header-text .btn {
        width: 90px;
        padding: 0.2rem;
        font-size: var(--font-size-2xs);
        box-shadow: 0 5px var(--bg-color-box-shadow);
    }

    .introduction p {
        margin: 3rem 2.5rem;
        font-size: var(--font-size-2xs);
    }

    .introduction img {
        max-width: 300px;
    }

    .img-tech img {
        max-width: 80px;
    }

    /* Connect Pages */
    .connect {
        font-size: var(--font-size-xs);
    }

    .connect .span {
        font-size: var(--font-size-lg);
    } 

    .image-container ul li a img {
        max-width: 130px;
        padding: 2rem 2rem;
        margin: 3rem 1.5rem;
    }

        /* Projects Pages */
    .projects h2 {
        font-size: var(--font-size-sm);
    }

    .projects h2 .span {
        font-size: var(--font-size-lg);
    }

    .prodigy-projects ul li {
        font-size: var(--font-size-xs);
    }
}

/* SM - Phone Landscape: 576 - 768 */ 

@media (max-width: 650px) {

    .header .logo {
        margin-left: 0rem;
    }

    .header-info {
        min-height: 400px;
    }

    #myLinks {
        display: none;
    }

    .mobile-icon {
        display: block;
    }

    .menu-icon {
        width: 80%;
    }

    .header-img img {
        max-width: 600px;
    }
    
    .header-text .btn {
        width: 80px;
        padding: 0.1rem;
        font-size: var(--font-size-2xs);
        box-shadow: 0 4px var(--bg-color-box-shadow);
    }

    .img-tech img {
        max-width: 60px;
    }

    .main-content .introduction {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 10.5rem;
    }

    .introduction img {
        margin: 0 auto;
    }

    .credits {
        text-align: center;
    }

    /* Connect Pages */
    .image-container ul li a img {
        max-width: 120px;
        padding: 2rem 2rem;
        margin: 3rem 1.5rem;
    }

    /* About Pages */
    .about-me h2 {
        font-size: var(--font-size-sm);
        margin-left: 0.8rem;
    }

    .about-me h2 span {
        font-size: var(--font-size-lg);
    }

    .about-me p {
        font-size: var(--font-size-xs);
    }

    /* Profile Pages */
    .profile {
        margin-bottom: 8rem;
    }
    .profile-content {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-xs);
    }

    .profile-content img {
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .profile-content span {
        font-size: var(--font-size-sm);
    }
}

/* SM - Phone Landscape: 576 - 768 */ 

@media (max-width: 591px) {

    .header-text {
        font-size: var(--font-size-2xs);
    }

    .header-text span {
        font-size: var(--font-size-2xs);
    }

    .header-img img {
        max-width: 400px;
    }
    
    .img-tech img {
        max-width: 50px;
    }

    /* Connect Pages */
    .connect {
        font-size: var(--font-size-2xs);
    }

    .connect .span {
        font-size: var(--font-size-sm);
    } 

    .image-container ul li a img {
        max-width: 110px;
        margin: 2rem 0.5rem;
    }

    /* About Pages */
    .about-me h2 {
        font-size: var(--font-size-xs);
        margin-left: 1rem;
    }

    .about-me h2 span {
        font-size: var(--font-size-sm);
    }

    .about-me p {
        font-size: var(--font-size-2xs);
    }

        /* Projects Pages */
    .projects {
        margin-bottom: 5rem;
    }
    .projects h2 {
        font-size: var(--font-size-xs);
    }

    .projects h2 .span {
        font-size: var(--font-size-sm);
    }

    .prodigy-projects ul li {
        font-size: var(--font-size-2xs);
    }
}   

/* SM - Phone Portrait: 375 - 576 */ 

@media (max-width: 430px) {
    
    .header-info {
        min-height: 200px;
    }
    .header-text {
        font-size: var(--font-size-3xs);
        margin-left: 2rem;
    }

    .header-text span {
        font-size: var(--font-size-3xs);
    }

    .header-img img {
        max-width: 400px;
    }

    .header-text .btn {
        width: 50px;
        padding: 0.1rem;
        margin-top: 0.5rem;
        font-size: var(--font-size-3xs);
        box-shadow: 0 4px var(--bg-color-box-shadow);
    }

    .main-content .introduction {
        margin-bottom: 3rem;
    }

    .introduction img {
        max-width: 200px;
    }

    .introduction p {
        margin: 2rem 2 rem;
        font-size: var(--font-size-3xs);
    }

    .tech-stacks {
        font-size: var(--font-size-2xs);
    }

    .tech-stacks .img-tech {
        margin: 2rem auto 4rem;
        padding: 2rem 2rem;
    }

    .img-tech img {
        margin: 3rem;
    }

    .footer ul li a {
        font-size: var(--font-size-2xs);
    }

    .credits {
        font-size: var(--font-size-2xs);
    }

    /* Content Pages */
    .connect {
        margin-bottom: 0rem;
    }

    .image-container ul li a img {
        max-width: 90px;
        margin: 2rem 0.5rem;
    }

    /* About Pages */
    .about-me {
        margin-bottom: 5rem;
    }
    .about-me h2 {
        font-size: var(--font-size-2xs);
        margin-left: 1rem;
        padding-bottom: 1rem;
    }

    .about-me h2 span {
        font-size: var(--font-size-xs);
    }

    .about-me p {
        font-size: var(--font-size-3xs);
    }

    /* Projects Pages */
    .projects h2 {
        font-size: var(--font-size-2xs);
        margin-bottom: 1rem;
    }

    .projects h2 .span {
        font-size: var(--font-size-xs);
    }

    .prodigy-projects ul li {
        font-size: var(--font-size-3xs);
    }

        /* Profile Pages */
    .profile {
        margin-bottom: 5rem;
    }
    .profile-content {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-2xs);
    }

    .profile-content img {
        width: 100px;
        height: 100px;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .profile-content span {
        font-size: var(--font-size-xs);
    }
}