*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100vh;
    display: block;
}

/* Header */ 
.bg-header {
    width: 100%;
    height: 70vh;
    display: block;
    background-color: #fff;
}

.header {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, 0.5);
    border-bottom: 1px solid white;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.3);
}
