/* 

-------- Typogrhapy --------
font-family: "Poppins", sans-serif; - Heading / Title
font-family: "Roboto", sans-serif; - Paragraph / Sub Heading

Type Scale
62px - h1
48px - h2
40px - h3
32px - h4
24px - h5
20px - p
16px - a

-------- CSS COLOR --------

Primary: #020618 - bg
Secondary: #364fc7
Accent Glow: #B9F4FF
Normal text: #e9ecef

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 95vh;
    background-color: #020618;
}

.bg-header {
    width: 100%;
}

.header {
    width: 90%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}

.header .logo {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo-name {
    position: relative;
    right: 15px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: 50px;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
    font-size: 1.1rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #e9ecef;
    position: relative;
}

.header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B9F4FF;
    transform-origin: bottom right;
    transition: transform 0.28s ease-out;
}

.header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-info {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 50px auto;
}

.header-text  {
    width: 100%;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-left: 50px;
    color: #e9ecef;
}

.header-text span {
    font-size: 48px;
    font-weight: 900;
    color: #B9F4FF;
    text-transform: uppercase;
}

.header-text .btn {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px #364fc7;
}

.header-text .btn:active {
    box-shadow: 0 4px #1864ab;
    transform: translateY(5px);
}

.header-text .primary-btn {
    color: #e9ecef;
    background-color: #364fc7;
    border: 1px solid #B9F4FF;
}

.header-text .outline-btn {
    color: #020618;
    background-color: #B9F4FF;
    border: 1px solid #e9ecef;
}

.header-img img {
    width: 100%;
    float: right;
}