/* 

-------- Typogrhapy --------
font-family: "Poppins", sans-serif; - Heading / Title
font-family: "Roboto", sans-serif; - Paragraph / Sub Heading

Type Scale
62px - h1
48px - h2
40px - h3
32px - h4
24px - h5
20px - p
16px - a

-------- CSS COLOR --------

Primary: #020618 - bg
Secondary: #364fc7
Accent Glow: #B9F4FF

*/

body {
    width: 100%;
    height: 95vh;
    margin: 0;
    padding: 0;
    background-color: #020618;
}

.bg-header {
    width: 100%;
    height: 60vh;
}

.bg-top {
    width: 100%;
    height: 5px;
    background-color: #020618;
    box-shadow: 2px 3px 4px #000;
}

.header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header .logo {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo-name {
    position: relative;
    right: 15px;
}

.header nav ul {
    padding: 0;
    margin: 0;
    margin-right: 50px;
}

.header nav ul li {
    display: inline-block;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    padding: 20px 10px;
    font-size: 1.1rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #000;
}

.header nav ul li a:hover {
    text-shadow: 1px 3px 4px #000;
    color: #fff;
}