/* 

-------- Typogrhapy --------
font-family: "Poppins", sans-serif; - Heading / Title
font-family: "Roboto", sans-serif; - Paragraph / Sub Heading

Type Scale
62px - h1
48px - h2
40px - h3
32px - h4
24px - h5
20px - p
16px - a

-------- CSS COLOR --------

Primary: #020618 - bg
Secondary: #364fc7
Accent Glow: #B9F4FF

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 95vh;
    background-color: #020618;
}

.bg-header {
    width: 100%;
    height: 60vh;
}

.header {
    width: 90%;
    height: 12vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}

.header .logo {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo-name {
    position: relative;
    right: 15px;
}

.header nav ul {
    padding: 0;
    margin: 0;
    margin-right: 50px;
}

.header nav ul li {
    display: inline-block;
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    padding: 20px 10px;
    font-size: 1.1rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #e9ecef;
}

.header nav ul li a:hover {
    text-shadow: 1px 2px 2px #364fc7;
    color: #B9F4FF;
}

.header-info {
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.header-text  {
    width: 90%;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-left: 50px;
    color: #e9ecef;
}

.header-text span {
    font-size: 3rem;
    font-weight: 800;
    color: #B9F4FF;
    text-transform: uppercase;
}

.header-img img {
    width: 100%;
    float: right;
}