*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: block;
}

.bg-header {
    width: 100%;
    height: 80vh;
    background-color: #808080;
}

.bg-header .header {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
}

.bg-header .header .logo img{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.header nav {
    display: block;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
}

.header nav ul li a {
    text-decoration: none;
    padding: 20px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 1px 2px 3px #000;
}

.header nav ul li a:hover {
    color: #800000;
}

.header-text {
    display: block;
    margin: 60px 0 0 120px;
}

.header-text span {
    color: #800000;
    font-size: 4rem;
    text-transform: uppercase;
}

.header-text p {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600px;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 2px 3px 4px #000;
    line-height: 70px;
}

.header-text button {
    height: 35px;
    width: 90px;
    list-style: none;
    border-radius: 10px;
    border-style: none;
    background-color: #800000;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 3px 4px #000;
    font-family: sans-serif;
    margin-top: 20px;
    background: linear-gradient(30deg, #1a1a1a, #800000);
    box-shadow: 2px 3px #000;
}

.header-text button:hover {
    background: linear-gradient(30deg, #800000, #1a1a1a);
    box-shadow: 1px 2px #000;
    cursor: pointer;
}

.header-img{
    width: fit-content;
    height: fit-content;
    display: flex;
    float: right;
    margin: 0 125px 0 0;
    position: relative;
    bottom: 75px;
}

.main-content {
    width: 100%;
    background-color: #000;
}

.main-content .introduction {
    display: flex;
    width: 75%;
    margin: 0 auto ;
}

.introduction img {
    width: 50%;
    object-fit: cover;
}

.introduction > p {
    font-size: 1.5rem;
    color: #fff;
    margin: auto 50px;
    text-align: justify;
}

.main-content .tech-stacks {
    width: 75%;
    height: 40vh;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 200px;
}

.tech-stacks h2 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
}

.tech-stacks .img-tech {
    display: flex;
    width: 100%;
    margin: 80px 0;
}

.img-tech img {
    width: 15%;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

.img-tech img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: #808080;
}

.footer p {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 3px #1a1a1a;
    text-align: center;
    margin: 0 auto;
}