:root {
    /* ------ Color ------ */
    --body-bg-color: #020618;
    --text-color-base: #e9ecef;
    --text-color-span: #B9F4FF;
    --bg-color-after: #B9F4FF;
    --bg-btn-color-left: #364fc7; 
    --bg-btn-color-right: #B9F4FF;
    --bg-color-box-shadow: #364fc7;
    --bg-color-box-shadow-active: #1864ab;
    --bg-color-border-btn-left: #B9F4FF;
    --bg-color-border-btn-right: #e9ecef;
    --border-color: #1864ab;

    /* ------ Size ------ */
    --font-size-3xs: 0.5rem;
    --font-size-2xs: 0.8rem;
    --font-size-xs: 1.1rem;
    --font-size-sm: 1.3rem;
    --font-size-lg: 1.7rem;
    --font-size-xlg: 2.5rem;
    --font-size-bg: 3rem;
    --font-size-xl: 3.5rem;

    /* ------ Weight ------ */
    --font-weight-normal: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;
    
    /* ------ Spacing ------ */
    --line-height-hero-base: 1.2;
    --line-height-hero: 1.4;
    --letter-spacing-normal: -0.7px;
    --letter-spacing-hero-section: -1.5px;
    /* ------ Family ------ */
    --font-heading: "Poppins", sans-serif;
    --font-sub-heading: "Roboto", sans-serif;

    /* ------ View Height ------ */
    --nav-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 95vh;
    background-color: var( --body-bg-color );
}

.header {
    height: var(--nav-height);
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header .logo {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 1.8rem;
    position: relative;
}

.logo img {
    max-width: 80px;
    width: 100%;
}

.logo-name {
    position: relative;
    right: 15px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 3.1rem;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    text-decoration: none;
    padding: 1.2rem 0.6rem;
    font-size: var(--font-size-xs);
    font-family: var(--font-sub-heading);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-base);
    position: relative;
}

.header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color-after);
    transform-origin: bottom right;
    transition: transform 0.28s ease-out;
}

.header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mobile-view {
    overflow: hidden;
}

.mobile-icon {
    display: none;
}


.header-info {
    height: calc(90vh - var(--nav-height));
    min-height: 500px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-text  {
    width: 100%;
    text-align: justify;
    font-family: var(--font-sub-heading);
    margin: 0 auto;
    font-size: var(--font-size-xlg);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-hero-base);
    letter-spacing: var(--letter-spacing-hero-section);
    margin-left: 3.1rem;
    color: var(--text-color-base);
}

.header-text span {
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-bolder);
    color: var(--text-color-span);
    text-transform: uppercase;
}

.header-text .btn {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: var(--font-size-sm);
    letter-spacing: var(--letter-spacing-normal);
    font-weight: var(--font-weight-normal);
    padding: 0.6rem;
    margin-top: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px var(--bg-color-box-shadow);
}

.header-text .btn:active {
    box-shadow: 0 4px var(--bg-color-box-shadow-active);
    transform: translateY(5px);
}

.header-text .primary-btn {
    color: var(--text-color-base);
    background-color: var(--bg-btn-color-left);
    border: 1px solid var(--bg-color-border-btn-left);
}

.header-text .outline-btn {
    color: #020618;
    background-color: var(--bg-btn-color-right);
    border: 1px solid var(--bg-color-border-btn-right);
}

.header-img img {
    width: 100%;
    max-width: 1000px;
}

.main-content {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-content .introduction {
    width: 100%;
    display: inline-block;
    margin-top: 6.2rem;
    margin-bottom: 12.5rem;
}

.introduction p {
    font-size: var(--font-size-sm);
    letter-spacing: var(--letter-spacing-normal);
    line-height: var(--line-height-hero);
    text-align: justify;
    font-family: var(--font-sub-heading);
    font-weight: var(--font-weight-semi-bold);
    margin: 8rem 3rem;
    color: var(--text-color-base);
}

.introduction img {
    width: 100%;
    max-width: 600px;
    margin-left: 0.5rem;
    float: right;
    object-fit: cover;
}

.tech-stacks {
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-heading);
    color: var(--text-color-base);
}

.tech-stacks .img-tech {
    width: 90%;
    margin: 6.2rem auto 12.5rem;
    padding: 6.2rem 3rem;
    border: 2px solid var(--border-color);
    justify-content: center;
}

.img-tech img {
    max-width: 150px;
    width: 90%;
    margin: 4rem;
}

.container-footer {
    width: 100%;
    border-top: 1px solid var(--border-color);
}

.footer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 1.5rem;
    justify-content: space-between;
}

.footer img {
    max-width: 150px;
    width: 100%;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

.footer ul li a {
    text-decoration: none;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-sub-heading);
    padding: 0.5rem 1.2rem;
    color: var(--text-color-base);
    cursor: pointer;
    position: relative;
}

.footer ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: var(--bg-color-after);
    transform-origin: bottom right;
}

.footer ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left ;
} 

.credits {
    max-width: 1200px;
    width: 100%;
    padding: 0.5rem;
    margin: 0 auto;
    text-align: justify;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semi-bold);
    font-family: var(--font-sub-heading);
    color: var(--text-color-base);
}
