/* 

-------- Typogrhapy --------
font-family: "Poppins", sans-serif; - Heading / Title
font-family: "Roboto", sans-serif; - Paragraph / Sub Heading

Type Scale
62px - h1
48px - h2
40px - h3
32px - h4
24px - h5
20px - p
16px - a

-------- CSS COLOR --------

Primary: #020618 - bg
Secondary: #364fc7
Accent Glow: #B9F4FF
Normal text: #e9ecef

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 95vh;
    background-color: #020618;
}

.bg-header {
    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.header {
    width: 90%;
    padding-top: 1.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header .logo {
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 1.8rem;
    position: relative;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo-name {
    position: relative;
    right: 15px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: 3.1rem;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 1.2rem 0.6rem;
    font-size: 1.1rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: #e9ecef;
    position: relative;
}

.header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B9F4FF;
    transform-origin: bottom right;
    transition: transform 0.28s ease-out;
}

.header nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-info {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 9.3rem;
}

.header-text  {
    width: 100%;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -2.5px;
    margin-left: 3.1rem;
    color: #e9ecef;
}

.header-text span {
    font-size: 3.5rem;
    font-weight: 900;
    color: #B9F4FF;
    text-transform: uppercase;
}

.header-text .btn {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: -1px;
    font-weight: 400;
    padding: 0.6rem;
    margin-top: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 8px #364fc7;
}

.header-text .btn:active {
    box-shadow: 0 4px #1864ab;
    transform: translateY(5px);
}

.header-text .primary-btn {
    color: #e9ecef;
    background-color: #364fc7;
    border: 1px solid #B9F4FF;
}

.header-text .outline-btn {
    color: #020618;
    background-color: #B9F4FF;
    border: 1px solid #e9ecef;
}

.header-img img {
    width: 100%;
    max-width: 1200px;
}

.main-content {
    display: block;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.main-content .introduction {
    width: 100%;
    display: inline-block;
    margin-top: 6.2rem;
    margin-bottom: 12.5rem;
}

.introduction p {
    font-size: 1.7rem;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0 3rem;
    color: #e9ecef;
}

.introduction img {
    width: 100%;
    max-width: 800px;
    margin-left: 3.1rem;
    float: right;
    object-fit: cover;
}

.tech-stacks {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #e9ecef;
}

.tech-stacks .img-tech {
    max-width: 1500px;
    width: 90%;
    margin: 6.2rem auto 12.5rem;
    display: flex;
    padding: 6.2rem 3rem;
    border: 2px solid #1864ab;
    justify-content: center;
}

.img-tech img {
    max-width: 200px;
    width: 90%;
    margin: 4rem;
}

.container-footer {
    width: 100%;
}

.footer {
    max-width: 1500px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 3rem;
    justify-content: space-between;
}

.footer img {
    max-width: 150px;
    width: 100%;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

.footer ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1.2rem;
    color: #e9ecef;
    cursor: pointer;
    position: relative;
}

.footer ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    background-color: #B9F4FF;
    transform-origin: bottom right;
}

.footer ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left ;
} 

.credits {
    width: 100%;
    padding: 2rem;
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #e9ecef;
}
