*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: block;
}

.bg-header {
    width: 100%;
    height: 80vh;
    background-color: #808080;
}

.bg-header .header {
    display: flex;
    width: 100%;
    height: 15vh;
    align-items: center;
}

.bg-header .header .logo img{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.header nav {
    display: block;
}

.header nav ul {
    list-style: none;
}

.header nav ul li {
    display: inline-block;
}

.header nav ul li a {
    text-decoration: none;
    padding: 20px 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow: 1px 2px 3px #000;
}

.header nav ul li a:hover {
    color: #800000;
}

.header-text {
    display: block;
    margin: 60px 0 0 120px;
}

.header-text span {
    color: #800000;
    font-size: 4rem;
    text-transform: uppercase;
}

.header-text p {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 600px;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 2px 3px 4px #000;
    line-height: 70px;
}

